{# 分類2に属するコンテンツ一覧 #}
{# 現在アクセスしているタクソノミータームのID #}
{% set tid = taxonomy_term.tid.value %}

{% set techlog_list = drupal_view_result('techlog_list', 'block_3', tid) %}
{% if techlog_list|length > 0 %}
  <div class="classification-2">
    {% for i, techlog_row in techlog_list %}
      {% set id = techlog_row._entity.nid.value %}
      {% set title = techlog_row._entity.title.value %}
      {% set image = techlog_row._entity.field_image.entity.fileuri|image_style('square_300_300') %}
      {% set url = path('entity.node.canonical', {'node': id}) %}
      {% set show_contents_list  = techlog_row._entity.field_show_contents_list.value %}
      {% set post_period = techlog_row._entity.field_post_period.value %}
      {% set post_period_end = techlog_row._entity.field_post_period.end_value %}
      {% set created = techlog_row._entity.created.value|date('Y年m月d日') %}
      {% set changed = techlog_row._entity.changed.value|date('Y年m月d日') %}
      {% set current_date = now|date('U') %}
      {% if post_period is not empty %}
        {% set post_period_value = post_period|date_modify('+9 hours')|date('U')  %}
      {% else %}
        {% set post_period_value = null  %}
      {% endif %}
      {% if post_period_end is not empty %}
        {% set post_period_end_value = post_period_end|date_modify('+9 hours')|date('U')  %}
      {% else %}
        {% set post_period_end_value = null  %}
      {% endif %}
      {# 掲載対象(掲載期間と表示チェックボックス)の判定 #}
      {% if ((post_period_value <= current_date and post_period_end_value >= current_date) or (post_period_value is empty and post_period_end_value is empty)) and show_contents_list == 1 %}
        {# 現在時間が掲載期間の範囲に入っている または 両方null #}
        {# コンテンツを表示するチェックボックスにチェックが入っている #}
        <a href="{{ url }}">
          <img src="{{ image }}" alt="">
          <div class="classification-2__meta">
            <div class="classification-2__meta__title">
              <span>{{ title }}</span>
            </div>
            <div class="classification-2__meta__date">
              <span class="created">投稿日：{{ created }}</span>
              {% if created != changed %}
                <span class="changed">更新日：{{ changed }}</span>
              {% endif %}
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
