{# フロントページ #}

{# スライド #}
{# {% set swiper_filter_pc = 'public://image/frontpage/swiper-filter-pc.webp'|file_url %}
{% set swiper_filter_mobile = 'public://image/frontpage/swiper-filter-mobile.avif'|file_url %}
<div id="p1" class="swiper-container">
  <div class="swiper-wrapper">
    {% set slide = drupal_view_result('swiper_slide', 'default') %}
    {% if slide|length > 0 %}
      {% for i, arr in slide %}
        {% set title = arr._entity.title.value %}
        {% set image = file_url(arr._entity.field_image.entity.fileuri | image_style('slide_1920_1080')) %}
        {% set body = arr._entity.body.value|render|striptags|trim|lower %}
        {% set url = arr._entity.field_url.uri %}
        <div class="swiper-slide">
          <div class="slide-media">
            <img src="{{ image }}" alt="">
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% if slide|length > 0 %}
    <div class="swiper-pagination">●</div>
  {% endif %}
  <div class="filter-image">
    <img class="swiper-filter-pc" src="{{ swiper_filter_pc }}" alt="">
    <img class="swiper-filter-mobile" src="{{ swiper_filter_mobile }}" alt="">
  </div>
</div>
#}

{# GSAPアニメーション #}
{% set image_01 = 'public://image/gsap_animation/01.avif'|file_url %}
{% set image_02 = 'public://image/gsap_animation/02.avif'|file_url %}
{% set image_03 = 'public://image/gsap_animation/03.avif'|file_url %}
{% set image_04 = 'public://image/gsap_animation/04.avif'|file_url %}
{% set image_05 = 'public://image/gsap_animation/05.avif'|file_url %}
{% set image_rb = 'public://image/gsap_animation/rb.avif'|file_url %}
{% set image_back = 'public://image/gsap_animation/back.avif'|file_url %}

<div class="animation">
  <div class="animation__scene">
    <div class="animation__scene__shadow"></div>

    <div class="animation__scene__view">
      <div class="animation__scene__view__book" id="book">
        <div class="right-base"><img src="{{ image_rb }}"></div>
        <div class="spine"></div>

        <div class="page page-1">
          <div class="face front"><img src="{{ image_01 }}"></div>
          <div class="face back"></div>
          <div class="page-thickness"></div>
          <div class="page-shadow"></div>
        </div>

        <div class="page page-2">
          <div class="face front"><img src="{{ image_02 }}"></div>
          <div class="face back"></div>
          <div class="page-thickness"></div>
          <div class="page-shadow"></div>
        </div>

        <div class="page page-3">
          <div class="face front"><img src="{{ image_03 }}"></div>
          <div class="face back"></div>
          <div class="page-thickness"></div>
          <div class="page-shadow"></div>
        </div>

        <div class="page page-4">
          <div class="face front"><img src="{{ image_04 }}"></div>
          <div class="face back"></div>
          <div class="page-thickness"></div>
          <div class="page-shadow"></div>
        </div>

        <div class="page page-5">
          <div class="face front"><img src="{{ image_05 }}"></div>
          <div class="face back"></div>
          <div class="page-thickness"></div>
          <div class="page-shadow"></div>
        </div>

        <div class="cover" id="cover">
          <div class="face outer"></div>
          <div class="face inner"></div>
          <div class="cover-thickness"></div>
          <div class="cover-shadow"></div>
        </div>
      </div>
    </div>

    <div class="animation__scene__popup">
      <div class="animation__scene__popup__ball" id="popup-ball-1">
        <div class="popup-ball"></div>
        <div class="popup-ball-tail"></div>
        <div class="popup-ball-shadow"></div>
      </div>
      <div class="animation__scene__popup__ball" id="popup-ball-2">
        <div class="popup-ball"></div>
        <div class="popup-ball-tail"></div>
        <div class="popup-ball-shadow"></div>
      </div>
      <div class="animation__scene__popup__ball" id="popup-ball-3">
        <div class="popup-ball"></div>
        <div class="popup-ball-tail"></div>
        <div class="popup-ball-shadow"></div>
      </div>
      <div class="animation__scene__popup__ball" id="popup-ball-4">
        <div class="popup-ball"></div>
        <div class="popup-ball-tail"></div>
        <div class="popup-ball-shadow"></div>
      </div>
      <div class="animation__scene__popup__ball" id="popup-ball-5">
        <div class="popup-ball"></div>
        <div class="popup-ball-tail"></div>
        <div class="popup-ball-shadow"></div>
      </div>
      <div class="animation__scene__popup__ball" id="popup-ball-6">
        <div class="popup-ball"></div>
        <div class="popup-ball-tail"></div>
        <div class="popup-ball-shadow"></div>
      </div>
    </div>

    <div class="animation__scene__background" id="popup-background">
      <img src="{{ image_back }}">
    </div>

  </div>

</div>

