{# フロントページ #}

{# スライド #}
{# {% set swiper_filter_pc = 'public://image/frontpage/swiper-filter-pc.webp'|file_url %}
{% set swiper_filter_mobile = 'public://image/frontpage/swiper-filter-mobile.avif'|file_url %}
<div id="p1" class="swiper-container">
  <div class="swiper-wrapper">
    {% set slide = drupal_view_result('swiper_slide', 'default') %}
    {% if slide|length > 0 %}
      {% for i, arr in slide %}
        {% set title = arr._entity.title.value %}
        {% set image = file_url(arr._entity.field_image.entity.fileuri | image_style('slide_1920_1080')) %}
        {% set body = arr._entity.body.value|render|striptags|trim|lower %}
        {% set url = arr._entity.field_url.uri %}
        <div class="swiper-slide">
          <div class="slide-media">
            <img src="{{ image }}" alt="">
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% if slide|length > 0 %}
    <div class="swiper-pagination">●</div>
  {% endif %}
  <div class="filter-image">
    <img class="swiper-filter-pc" src="{{ swiper_filter_pc }}" alt="">
    <img class="swiper-filter-mobile" src="{{ swiper_filter_mobile }}" alt="">
  </div>
</div>
#}

{# GSAPアニメーション #}
{% set image_01 = 'public://image/gsap_animation/01.png'|file_url %}
{% set image_02 = 'public://image/gsap_animation/02.png'|file_url %}
{% set image_03 = 'public://image/gsap_animation/03.png'|file_url %}
<div class="animation">
  <div class="animation__step1">
    <div class="animation__step1__image down">
      <img src="{{ image_01 }}">
    </div>
    <div class="animation__step1__image up">
      <img src="{{ image_02 }}">
    </div>
    <div class="animation__step1__image down">
      <img src="{{ image_03 }}">
    </div>
  </div>
</div>

